In [1]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.9/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.9/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise->surprise) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise->surprise) (1.2.0)

In [2]:
import pandas as pd
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv('/content/drive/MyDrive/plataformas_completo.csv')

<ipython-input-4-bc8090d108bc>:1: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/plataformas_completo.csv')

In [5]:
df = df[['movieId', 'score_promedio', 'userId']]

In [6]:
df

         movieId  score_promedio  userId
0            as1        3.467131     543
1            as1        3.467131     595
2            as1        3.467131     611
3            as1        3.467131    2523
4            as1        3.467131    3082
...          ...             ...     ...
11024284  ns8807        3.529228  122699
11024285  ns8807        3.529228  122869
11024286  ns8807        3.529228  123708
11024287  ns8807        3.529228  123841
11024288  ns8807        3.529228  124184

[11024289 rows x 3 columns]

In [6]:
df=df.drop_duplicates(subset=['movieId', 'score_promedio', 'userId'])

### Modelo

In [7]:
# Suponiendo que el DataFrame se llama "df" y contiene las columnas "movieId", "score_promedio" y "userId"
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['userId', 'movieId', 'score_promedio']], reader)

In [ ]:
# Definir el modelo SVD y ejecutar una validaciÃ³n cruzada
model = SVD()
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [13]:
# Entrenar el modelo con todos los datos
trainset = data.build_full_trainset()
model.fit(trainset)

In [ ]:
# Hacer una predicciÃ³n para un usuario y una pelÃ­cula especÃ­ficos
# Suponiendo que el usuario es "543" y la pelÃ­cula es "ns8807"
score_predicho = model.predict(543, 'ns8807').est
print('El score promedio predicho para la pelÃ­cula ns8807 por el usuario 543 es:', score_predicho)