 <h6 style="text-align:right;">Nahuel Nicolas Marin<h6>
<p align=center><img src=https://d31uz8lwfmyn8g.cloudfront.net/Assets/logo-henry-white-lg.png><p>

<h1>Proyecto Individual N°1<h1>
<p>
<h5>En éste notebook me enfoco solo en las transformaciones que pide el trabajo y otras que creo necesarias<h5>
<p>

<h3>Extracción Transformación y Carga de datos(ETL)<h3>

In [2]:
#importamos librerías necesarias para el proceso de ETL
import pandas as pd

<h4>Extracción

In [2]:
#Extracción de los datos
df_amazon=pd.read_csv('./datasets/amazon_prime_titles.csv')
df_disney=pd.read_csv('./datasets/disney_plus_titles.csv')
df_hulu=pd.read_csv('./datasets/hulu_titles.csv')
df_netflix=pd.read_csv('./datasets/netflix_titles.csv')

<h4>Transformación<h4>

In [3]:
#Reemplacé los nulos según pide la actividad
df_amazon['rating'].fillna('G', inplace=True)
df_disney['rating'].fillna('G', inplace=True)
df_hulu['rating'].fillna('G', inplace=True)
df_netflix['rating'].fillna('G', inplace=True)

In [18]:
df_hulu[df_hulu.notnull()].head(2)
#MES dia, año

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

In [4]:
#Cambio de formato de las fechas
df_amazon['date_added']=pd.to_datetime(df_amazon['date_added'])
df_amazon['date_added']=df_amazon['date_added'].dt.strftime('%Y/%m/%d')
df_disney['date_added']=pd.to_datetime(df_disney['date_added'])
df_disney['date_added']=df_disney['date_added'].dt.strftime('%Y/%m/%d')
df_hulu['date_added']=pd.to_datetime(df_hulu['date_added'])
df_hulu['date_added']=df_hulu['date_added'].dt.strftime('%Y/%m/%d')
df_netflix['date_added']=pd.to_datetime(df_netflix['date_added'])
df_netflix['date_added']=df_netflix['date_added'].dt.strftime('%Y/%m/%d')
df_hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021/10/24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,2021/10/23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

<h4>Proceso de crear el Id<h4>

In [5]:
#guardo cada df en un diccionario 
df_complete={'df_amazon':df_amazon['show_id'], 'df_disney':df_disney['show_id'], 'df_hulu':df_hulu['show_id'], 'df_netflix':df_netflix['show_id']}

In [6]:
#declaro variables y listas
list=['a','d','h','n']
Id_a=[]
Id_d=[]
Id_h=[]
Id_n=[]
list_ids=[Id_a, Id_d, Id_h, Id_n]
i=-1
var_aux=''

#itero el diccionario para crear una lista de listas donde cada una de las listas contiene el ID de cada plataforma
for df in df_complete:
    df_iterar=df_complete[df]
    i=i+1
    j=-1
    for regis in df_iterar:
        j+=1
        var_aux=list[i] + df_iterar.iloc[j]
        list_ids[i].append(var_aux)

#modifico los df agregando el ID
df_amazon["id"]=list_ids[0]
df_disney["id"]=list_ids[1]
df_hulu["id"]=list_ids[2]
df_netflix["id"]=list_ids[3]

In [22]:
df_amazon.tail(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",as9667
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",as9668

<h4>Ponemos todos los registros en minúsculas<h4>

In [7]:
df_amazon=df_amazon.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_disney=df_disney.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_hulu=df_hulu.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_netflix=df_netflix.applymap(lambda s: s.lower() if isinstance(s, str) else s)

<h4>Cambiamos el formato de la duración</h4>

In [8]:
df_amazon[['duration_int','duration_type']]=df_amazon['duration'].str.split(' ', expand=True)
df_disney[['duration_int','duration_type']]=df_disney['duration'].str.split(' ', expand=True)
df_hulu[['duration_int','duration_type']]=df_hulu['duration'].str.split(' ', expand=True)
df_netflix[['duration_int','duration_type']]=df_netflix['duration'].str.split(' ', expand=True)

In [25]:
df_netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021/09/25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021/09/24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,seasons

<h4>Guardo los DataFrames en formato csv</h4>

In [26]:
df_amazon.to_csv('Amazon_clear.csv')
df_disney.to_csv('Disney_clear.csv')
df_hulu.to_csv('Hulu_clear.csv')
df_netflix.to_csv('Netflix_clear.csv')

In [9]:
#concateno cada df de la carpeta rating en un solo df 
df_rating=pd.concat([pd.read_csv('datasets/ratings/1.csv'),pd.read_csv('datasets/ratings/2.csv'),pd.read_csv('datasets/ratings/3.csv'),pd.read_csv('datasets/ratings/4.csv'),pd.read_csv('datasets/ratings/5.csv'),pd.read_csv('datasets/ratings/6.csv'),pd.read_csv('datasets/ratings/7.csv'),pd.read_csv('datasets/ratings/8.csv')])

In [10]:
#cambio el nombre de la columna rating
df_rating = df_rating.rename(columns = {'rating' : 'score'})

In [29]:
df_rating.head(5)

   userId  score   timestamp movieId
0       1    1.0  1425941529   as680
1       1    4.5  1425942435  ns2186
2       1    5.0  1425941523  hs2381
3       1    5.0  1425941546  ns3663
4       1    5.0  1425941556  as9500

In [11]:
df_amazon['platform']='amazon'
df_disney['platform']='disney'
df_hulu['platform']='hulu'
df_netflix['platform']='netflix'
df_amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,amazon
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021/03/30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,amazon

In [12]:
df_unique=pd.concat([df_amazon,df_disney,df_hulu,df_netflix])
df_unique.tail(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020/01/11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min,netflix
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019/03/02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,netflix

In [30]:
#exporto en formato csv
df_rating.to_csv('Rating.csv')

In [18]:
df_unique.to_csv('plataformas_unique.csv')

In [13]:
df_withscore=df_unique.merge(df_rating, left_on="id", right_on="movieId")

In [14]:
df_withscore.to_csv('plataformas_withscore.csv')

:

##### voy a crear el dataset que voy a usar en todo lo que sigue del trabajo

In [ ]:
df_score = pd.read_csv('../datasets/def_datasets/plataformas_unique.csv')
promedio_por_id = df_score.groupby('movieId')['score'].mean()
df_con_promedio = df_score.merge(promedio_por_id, on='movieId', suffixes=['', '_promedio'])
#estas lineas de codigo las usé para crear el csv "plataformas_completo.csv" que voy a citar adelante para continuar la transformación

In [3]:
#continúo transformación
df_score = pd.read_csv("./datasets/def_datasets/plataformas_completo.csv")

C:\Users\yesen\AppData\Local\Temp\ipykernel_10692\3782773637.py:2: DtypeWarning: Columns (6,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_score = pd.read_csv("./datasets/def_datasets/plataformas_completo.csv")

## Transformaciones que voy haciendo según lo requieran las actividades

In [11]:
#reemplazo los nulos de la columna "cast" por "unknown"
df_score["cast"].fillna('unknown', inplace=True)

In [12]:
df_score.isnull().sum()

Unnamed: 0.1            0
Unnamed: 0              0
show_id                 0
type                    0
title                   0
director          3960615
cast                    0
country           5510080
date_added        4577546
release_year            0
rating                  0
duration           231117
listed_in               0
description          1815
id                      0
duration_int       231117
duration_type      231117
platform                0
userId                  0
score                   0
timestamp               0
movieId                 0
score_promedio          0
dtype: int64

In [5]:
#reemplazo los nulos de la columna "country" por "unknown"
df_score['country'].fillna('unknown', inplace=True)
df_score.isnull().sum()

Unnamed: 0.2            0
Unnamed: 0.1            0
Unnamed: 0              0
show_id                 0
type                    0
title                   0
director          3960615
cast                    0
country                 0
date_added        4577546
release_year            0
rating                  0
duration           231117
listed_in               0
description          1815
id                      0
duration_int       231117
duration_type      231117
platform                0
userId                  0
score                   0
timestamp               0
movieId                 0
score_promedio          0
dtype: int64

In [6]:
#me fijo los valores individuales de la columna rating y me doy cuenta de que tiene duraciones 
df_score['rating'].value_counts()

tv-ma      1763550
tv-14      1505382
r          1030752
13+        1013673
tv-pg       792925
            ...
61 min         456
136 min        455
45 min         455
130 min        450
121 min        447
Name: rating, Length: 105, dtype: int64

In [7]:
#reemplazo duraciones y redundancias en la columna rating
df_score["rating"] = df_score["rating"].str.replace(".*min", "sin_dato", regex=True)
df_score["rating"] = df_score["rating"].str.replace(".*seasons", "sin_dato", regex=True)
df_score["rating"] = df_score["rating"].str.replace(".*season", "sin_dato", regex=True)
df_score["rating"] = df_score["rating"].str.replace("^16.*", "+16", regex=True)
df_score["rating"] = df_score["rating"].str.replace("^18.*", "+18", regex=True)
df_score["rating"] = df_score["rating"].str.replace("all_ages", "all", regex=True)
df_score["rating"] = df_score["rating"].str.replace("sin_dato", "not_rate", regex=True)
df_score["rating"] = df_score["rating"].str.replace("not rated", "not_rate", regex=True)
df_score["rating"] = df_score["rating"].str.replace("^ages_16_", "+16", regex=True)
df_score["rating"] = df_score["rating"].str.replace("^ages_18_", "+18", regex=True)

In [8]:
#verificamos
df_score['rating'].value_counts()

tv-ma       1763550
tv-14       1505382
r           1030752
13+         1013673
tv-pg        792925
+16          741897
g            608418
all          608076
+18          596754
pg-13        533194
pg           423771
tv-g         367286
tv-y7        263114
tv-y         221399
7+           185105
nr           145527
not_rate     143516
tv-nr         50608
unrated       15758
tv-y7-fv       9244
nc-17          2861
ur             1479
Name: rating, dtype: int64

In [9]:
#exportamos csv corregido y listo para ser usado por la API
df_score.to_csv('plataformas_completo.csv')