In [1]:
import pandas as pd

In [2]:
release_year=2021
scored=3.5
platform='disney'

In [3]:
df_score = pd.read_csv('../datasets/def_datasets/plataformas_completo.csv')

C:\Users\yesen\AppData\Local\Temp\ipykernel_3848\997893996.py:1: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_score = pd.read_csv('../datasets/def_datasets/plataformas_completo.csv')

In [12]:
promedio_por_id = df_score.groupby('movieId')['score'].mean()
promedio_por_id.head(5)

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
Name: score, dtype: float64

In [13]:
df_con_promedio = df_score.merge(promedio_por_id, on='movieId', suffixes=['', '_promedio'])

In [15]:
df_con_promedio.to_csv('plataformas_completo.csv')

In [27]:
mask = (df_score['release_year'] == release_year) & (df_score['score_promedio'] > scored) & (df_score['platform'] == platform) & (df_score.type == 'movie')

df_aux = df_score[mask]

cantidad=len(df_aux['movieId'].drop_duplicates().index)
respuesta={
    'plataforma': platform,
    'anio': release_year,
    'cantidad': cantidad,
    'score': scored
}
respuesta

{'plataforma': 'netflix', 'anio': 2020, 'cantidad': 401, 'score': 3.5}

In [14]:
df_con_promedio.head(5)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,...,description,id,duration_int,duration_type,platform,userId,score,timestamp,movieId,score_promedio
0,0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,...,a small fishing village must procure a local d...,as1,113.0,min,amazon,543,5.0,1059596582,as1,3.467131
1,1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,...,a small fishing village must procure a local d...,as1,113.0,min,amazon,595,3.0,839937603,as1,3.467131
2,2,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,...,a small fishing village must procure a local d...,as1,113.0,min,amazon,611,3.0,978549108,as1,3.467131
3,3,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,...,a small fishing village must procure a local d...,as1,113.0,min,amazon,2523,3.5,1340634980,as1,3.467131
4,4,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,...,a small fishing village must procure a local d...,as1,113.0,min,amazon,3082,4.0,954396636,as1,3.467131

In [13]:
mask = (df_score['type']== 'movie') & (df_score['platform']==platform)

df_aux=df_score[mask]

cantidad=len(df_aux['movieId'].drop_duplicates().index)

respuesta = {
    'plataforma': platform,
    'peliculas': cantidad
}
respuesta

{'plataforma': 'netflix', 'peliculas': 6131}

In [12]:
year = release_year

mask = (df_score['platform']==platform) & (df_score['release_year']==year) & (df_score['cast'] != 'unknown')
df_aux = df_score[mask]
df_aux['movieId'].drop_duplicates(inplace=True)
df_aux = df_aux['cast']
cast= df_aux.str.split(',').explode()
cant=cast.value_counts()

maximo = max(cant.items(), key=lambda x: x[1])
respuesta={
    'plataforma': platform,
    'anio': year,
    'actor': maximo[0],
    'apariciones': maximo[1]
}

C:\Users\yesen\AppData\Local\Temp\ipykernel_16304\358113233.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aux['movieId'].drop_duplicates(inplace=True)

In [13]:
respuesta

{'plataforma': 'disney',
 'anio': 2021,
 'actor': ' tress macneille',
 'apariciones': 1498}

In [17]:
visual = df_score['country'].value_counts()
visual

united states                            2395881
india                                     577971
united kingdom                            278921
japan                                     247300
canada                                    113877
                                          ...
netherlands, belgium, germany, jordan        428
sweden, united kingdom, finland              425
united states, botswana                      423
spain, belgium, united states                421
spain, colombia                              416
Name: country, Length: 886, dtype: int64

In [16]:
df_score['country'].isnull().sum()

5510080

In [19]:
df_score['type'].value_counts().to_dict()

{'movie': 7897251, 'tv show': 3127038}

In [25]:
tipo = 'tv show'
pais = 'spain'
df_aux=df_score.dropna()
df_aux = df_aux.loc[df_aux['country'].str.contains(pais)]
df_aux = df_aux[df_aux['release_year']==year]

respuesta=df_aux['type'].value_counts().to_dict()

respuesta[tipo]

1913

In [26]:
respuesta2={
    'pais': pais,
    'anio': year,
    'contenido': (tipo, respuesta[tipo])
}
respuesta2

{'pais': 'spain', 'anio': 2021, 'contenido': ('tv show', 1913)}

In [12]:
rango='g'
mask=df_score['rating'] == rango

In [13]:
df_aux=df_score[mask]
cantidad=len(df_aux['movieId'].drop_duplicates().index)
cantidad

1269